body{
    background-color: lightblue;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    margin-bottom: auto;
    text-align: center;
}
h1{
    background-color:white;
    margin: 10px 25% 10px 25%;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
}
nav{
    background-color: #5f9ea0;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
    height: 25%;
    width: 25%;
    border-radius: 25px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
li{
    background-color: white;
    width: 33%;
    margin: 2px 7px 2px 7px;
    padding: 5px;
    border-radius: 25px;
}
ul.contact{
    margin-left: 5px;
    /* list-style-type: initial; */
    display: flex;
    flex-direction: column;
}
ul.contact li{
    background-color: unset;
}
h2{
    text-indent: 15px;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
section{
    background-color: aliceblue;
    margin: 0px 10% 0px 10%;
    padding: 10px;
    border-radius: 30px;
}
footer{
    background-color: #5f9ea0;
    padding: 10px;
    margin-top: auto;
}
.current-page{
    text-decoration: none;
}
body a{
    color: #5f9ea0;
}
header a{
    color: blue;
}
footer a{
    color:aliceblue;
    text-decoration: none;
}